body {
  background-color: white;
  margin: 0;
  padding: 0;
}
.MenuAzul {
  background-color: #2980B9;
  width: 100%;
  padding: 30px 40px;
}
.Sistemabibliotecario {
  text-align: center;
  font-family: sans-serif;
  margin-top: 90px;
  font-size: 40px;
  color: #2C3E50;
  font-weight: bold;
}
.botoes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 20px;              
}
.button {
  background-color: #2980B9;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 20px 40px;     
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  width: 320px;          
  height: 70px;           
  text-align: center;    
}